.profile__add-cross {
  width: 16px;
  height: 16px;
  background-image: url(../../../images/Add-Button.svg);
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .profile__add-cross {
    width: 22px;
    height: 22px;
  }
}