.popup__button-text {
  margin: 0;
  font-family: "inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .popup__button-text {
    font-size: 18px;
    line-height: 22px;
  }
}