.element__container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
  padding: 25px 15px 25px 21px;
}